<template>
	<div></div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { Dramaton } from '@/dramaton-core/dramaton';

@Component
export default class Player extends Vue {
	private dramaton:Dramaton|null = null;

	mounted() {
		this.$http
			.get('/scripts/test.txt')
			.then((response) => {
				this.dramaton = new Dramaton(response.data);
			})
			.catch((error:any) => {
				if (error.response.status !== 401) {
					console.log(`Error loading last updated date: ${error}`);
				}
			});
	}
}
</script>

<style lang="scss" scoped>
</style>
