<template>
  <v-app light>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-title>Dramaton</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-layout justify-center align-center>
          <v-flex>
            <v-alert :value="errorMessage!==''" color="error">
              {{errorMessage}}
            </v-alert>
            <router-view></router-view>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { State } from 'vuex-class';

@Component
export default class App extends Vue {
  // Standard properties;
  errorMessage:string = '';	

  active:Array<any> = [];
}
</script>

<style lang="scss">

</style>
